name: Publish package to the Maven Central Repository
on:
  release:
    types: [ created ]
jobs:
  build:

    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 18
        uses: actions/setup-java@v1
        with:
          java-version: 18
      - name: Build with Gradle
        run: ./gradlew clean build publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MARIELLA_RELEASE_NAME: ${{ github.event.release.name }}
